In [2]:
# 2. Find the length of the string "Hello World"
print(len("Hello World"))

11

In [3]:
# 1. Create a string with your name and print it
name = "Ishan Verma"
print(name)

Ishan Verma

In [4]:
# 3. Slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [5]:
# 4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [6]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [7]:
# 6. Create a list with numbers 1 to 5 and print it
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [8]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [10]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
# 10. Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [12]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [17]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [18]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

In [21]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

In [22]:
# 21. Create a dictionary with keys "name", "age", "city", and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
# 22. Add a new key-value pair "country": "USA" to dictionary
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Access the value associated with the key "name"
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [25]:
# 24. Remove the key "age" from the dictionary
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# 25. Check if the key "city" exists in the dictionary
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [27]:
# 26. Create a list, a tuple, and a dictionary, and print them
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [28]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it, and print
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[5, 26, 43, 46, 62]

In [29]:
# 28. Create a list with strings and print the element at the third index
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [30]:
# 29. Combine two dictionaries into one and print the result
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 30. Convert a list of strings into a set
lst = ["apple", "banana", "apple", "cherry"]
print(set(lst))

{'apple', 'banana', 'cherry'}